{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Películas encontradas</h1>
    <div class="row">
        {% if movies%}
            {% for movie in movies %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.overview|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-muted">Fecha de lanzamiento: {{ movie.release_date }}</small></p>
                            <a href="{% url 'movie_details' movie.id %}" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 text-center p-4 border rounded">
                <h3>¡Ups! Parece que no hay películas con ese termino.</h3>
                <p>No te preocupes, estamos trabajando para traerte las mejores películas pronto. ¡Vuelve a visitarnos más tarde!</p>
                <img src="{% static 'images/no_movies.png' %}" alt="No hay películas" class="img-fluid mt-3" style="max-width: 300px;">
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}